/*------------------------------------------------------------------
[ forms ]*/

// form-control
.form-control {
    --bs-border-width: 2px;
    font-size: 18px;
    font-weight: 400;
    color: #050505;
    box-shadow: none !important;
    border-color: transparent;

    &:focus {
        color: #050505;
        border-color: #687DF7;
    }

    // &::placeholder {
    //     opacity: 0.6;
    // }
}

// input sizes
.input-m {
    min-height: 40px;
    padding: 10px 16px;
}
.input-l {
    min-height: 60px;
    padding: 12px 22px;
}

// form-floating
.form-floating > .form-control.input-l,
.form-floating > .form-control-plaintext.input-l,
.form-floating > .form-select.input-l {
    height: 60px;
    min-height: 60px;
}
.form-floating > label {
    color: #767B89;
}

// form-check
.form-check {
    font-size: 20px;
}
.form-check-input {
    --bs-border-width: 2px;
    // --bs-form-check-bg: transparent;

    // &:checked {
    //     background-color: #415EF6;
    //     border-color: #415EF6;
    // }

    &:focus {
        box-shadow: none;
    }

    &[type=checkbox] {
        border-radius: 2px;
    }
}
.form-check-label {
    color: #767B89;
    font-size: 13px;
}

@include media-breakpoint-up(xl) {
    .form-check-label {
        font-size: 15px;
    }
}