/*------------------------------------------------------------------
[ general ]*/

html { scroll-behavior: smooth; }

body {
    font-family: var(--theme-ff-main);
    font-weight: 400;
    line-height: 1.3;
}

.mx-n-gx {
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.px-gx {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
}

// Custom Scrollbar
// ::-webkit-scrollbar {
//     width: 8px;
//     height: 8px;
// }
// ::-webkit-scrollbar-track {
//     background-color: #F5F5F5;
// }
// ::-webkit-scrollbar-thumb {
//     background-color: #120E1E;
// }

.img-fluid {
    max-width: 100%;
    height: auto;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

// bg color
.bg-primary-gradient { background: linear-gradient(90deg, #D2DBF8 0%, #E8F7F4 100%); }
.bg-primary-20 { background-color: #EAEDFB; }

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

// width
.w-100 { width: 100% !important; }
.w-auto { width: auto !important; }
.w-40px { width: 40px !important; }
.w-60px { width: 60px !important; }
.w-80px { width: 80px !important; }
.w-100px { width: 100px !important; }

// max-width
.max-w-100px { max-width: 100px; }
.max-w-500px { max-width: 500px; }
.max-w-1000px { max-width: 1000px; }

// paddings
.p-10px { padding: 10px !important; }
.p-15px { padding: 15px !important; }
.p-20px { padding: 20px !important; }
.p-24px { padding: 24px !important; }
.p-30px { padding: 30px !important; }
.p-40px { padding: 40px !important; }
.p-60px { padding: 60px !important; }
.p-80px { padding: 80px !important; }
.pt-10px { padding-top: 10px !important; }
.pt-15px { padding-top: 15px !important; }
.pt-20px { padding-top: 20px !important; }
.pt-30px { padding-top: 30px !important; }
.pb-10px { padding-bottom: 10px !important; }
.pb-15px { padding-bottom: 15px !important; }
.pb-20px { padding-bottom: 20px !important; }
.pb-30px { padding-bottom: 30px !important; }

// margins
.mt-10px { margin-top: 10px !important; }
.mt-15px { margin-top: 15px !important; }
.mt-20px { margin-top: 20px !important; }
.mt-30px { margin-top: 30px !important; }
.mb-10px { margin-bottom: 10px !important; }
.mb-15px { margin-bottom: 15px !important; }
.mb-20px { margin-bottom: 20px !important; }
.mb-30px { margin-bottom: 30px !important; }

// gaps
.gap-10px { gap: 10px !important; }
.gap-15px { gap: 15px !important; }
.gap-20px { gap: 20px !important; }
.gap-30px { gap: 30px !important; }
.gap-40px { gap: 40px !important; }
.gap-60px { gap: 60px !important; }
.row-gap-10px { row-gap: 10px !important; }
.row-gap-15px { row-gap: 15px !important; }
.row-gap-20px { row-gap: 20px !important; }
.row-gap-30px { row-gap: 30px !important; }
.row-gap-40px { row-gap: 40px !important; }
.row-gap-60px { row-gap: 60px !important; }
.column-gap-10px { column-gap: 10px !important; }
.column-gap-15px { column-gap: 15px !important; }
.column-gap-20px { column-gap: 20px !important; }
.column-gap-30px { column-gap: 30px !important; }

// gutters
.gy-10px { --bs-gutter-y: 10px; }
.gy-15px { --bs-gutter-y: 15px; }
.gy-20px { --bs-gutter-y: 20px; }
.gy-30px { --bs-gutter-y: 30px; }

// Максимальная ширина

@include media-breakpoint-down(lg) {
    .hide-on-mobile { display: none !important; }
}

@include media-breakpoint-down(md) {
    .no-gutters-x-down-md { --bs-gutter-x: 0; }
}

// Минимальная ширина

@include media-breakpoint-up(sm) {
    // width
    .w-sm-100 { width: 100% !important; }
    .w-sm-auto { width: auto !important; }
    .w-sm-40px { width: 40px !important; }
    .w-sm-60px { width: 60px !important; }
    .w-sm-80px { width: 80px !important; }
    .w-sm-100px { width: 100px !important; }

    // paddings
    .p-sm-10px { padding: 10px !important; }
    .p-sm-15px { padding: 15px !important; }
    .p-sm-20px { padding: 20px !important; }
    .p-sm-24px { padding: 24px !important; }
    .p-sm-30px { padding: 30px !important; }
    .p-sm-40px { padding: 40px !important; }
    .p-sm-60px { padding: 60px !important; }
    .p-sm-80px { padding: 80px !important; }
    .pt-sm-10px { padding-top: 10px !important; }
    .pt-sm-15px { padding-top: 15px !important; }
    .pt-sm-20px { padding-top: 20px !important; }
    .pt-sm-30px { padding-top: 30px !important; }
    .pb-sm-10px { padding-bottom: 10px !important; }
    .pb-sm-15px { padding-bottom: 15px !important; }
    .pb-sm-20px { padding-bottom: 20px !important; }
    .pb-sm-30px { padding-bottom: 30px !important; }

    // margins
    .mt-sm-10px { margin-top: 10px !important; }
    .mt-sm-15px { margin-top: 15px !important; }
    .mt-sm-20px { margin-top: 20px !important; }
    .mt-sm-30px { margin-top: 30px !important; }
    .mb-sm-10px { margin-bottom: 10px !important; }
    .mb-sm-15px { margin-bottom: 15px !important; }
    .mb-sm-20px { margin-bottom: 20px !important; }
    .mb-sm-30px { margin-bottom: 30px !important; }

    // gaps
    .gap-sm-10px { gap: 10px !important; }
    .gap-sm-15px { gap: 15px !important; }
    .gap-sm-20px { gap: 20px !important; }
    .gap-sm-30px { gap: 30px !important; }
    .gap-sm-40px { gap: 40px !important; }
    .gap-sm-60px { gap: 60px !important; }
    .row-gap-sm-10px { row-gap: 10px !important; }
    .row-gap-sm-15px { row-gap: 15px !important; }
    .row-gap-sm-20px { row-gap: 20px !important; }
    .row-gap-sm-30px { row-gap: 30px !important; }
    .row-gap-sm-40px { row-gap: 40px !important; }
    .row-gap-sm-60px { row-gap: 60px !important; }
    .column-gap-sm-10px { column-gap: 10px !important; }
    .column-gap-sm-15px { column-gap: 15px !important; }
    .column-gap-sm-20px { column-gap: 20px !important; }
    .column-gap-sm-30px { column-gap: 30px !important; }

    // gutters
    .gy-sm-10px { --bs-gutter-y: 10px; }
    .gy-sm-15px { --bs-gutter-y: 15px; }
    .gy-sm-20px { --bs-gutter-y: 20px; }
    .gy-sm-30px { --bs-gutter-y: 30px; }
}

@include media-breakpoint-up(md) {
    // width
    .w-md-100 { width: 100% !important; }
    .w-md-auto { width: auto !important; }
    .w-md-40px { width: 40px !important; }
    .w-md-60px { width: 60px !important; }
    .w-md-80px { width: 80px !important; }
    .w-md-100px { width: 100px !important; }

    // paddings
    .p-md-10px { padding: 10px !important; }
    .p-md-15px { padding: 15px !important; }
    .p-md-20px { padding: 20px !important; }
    .p-md-24px { padding: 24px !important; }
    .p-md-30px { padding: 30px !important; }
    .p-md-40px { padding: 40px !important; }
    .p-md-60px { padding: 60px !important; }
    .p-md-80px { padding: 80px !important; }
    .pt-md-10px { padding-top: 10px !important; }
    .pt-md-15px { padding-top: 15px !important; }
    .pt-md-20px { padding-top: 20px !important; }
    .pt-md-30px { padding-top: 30px !important; }
    .pb-md-10px { padding-bottom: 10px !important; }
    .pb-md-15px { padding-bottom: 15px !important; }
    .pb-md-20px { padding-bottom: 20px !important; }
    .pb-md-30px { padding-bottom: 30px !important; }

    // margins
    .mt-md-10px { margin-top: 10px !important; }
    .mt-md-15px { margin-top: 15px !important; }
    .mt-md-20px { margin-top: 20px !important; }
    .mt-md-30px { margin-top: 30px !important; }
    .mb-md-10px { margin-bottom: 10px !important; }
    .mb-md-15px { margin-bottom: 15px !important; }
    .mb-md-20px { margin-bottom: 20px !important; }
    .mb-md-30px { margin-bottom: 30px !important; }

    // gaps
    .gap-md-10px { gap: 10px !important; }
    .gap-md-15px { gap: 15px !important; }
    .gap-md-20px { gap: 20px !important; }
    .gap-md-30px { gap: 30px !important; }
    .gap-md-40px { gap: 40px !important; }
    .gap-md-60px { gap: 60px !important; }
    .row-gap-md-10px { row-gap: 10px !important; }
    .row-gap-md-15px { row-gap: 15px !important; }
    .row-gap-md-20px { row-gap: 20px !important; }
    .row-gap-md-30px { row-gap: 30px !important; }
    .row-gap-md-40px { row-gap: 40px !important; }
    .row-gap-md-60px { row-gap: 60px !important; }
    .column-gap-md-10px { column-gap: 10px !important; }
    .column-gap-md-15px { column-gap: 15px !important; }
    .column-gap-md-20px { column-gap: 20px !important; }
    .column-gap-md-30px { column-gap: 30px !important; }

    // gutters
    .gy-md-10px { --bs-gutter-y: 10px; }
    .gy-md-15px { --bs-gutter-y: 15px; }
    .gy-md-20px { --bs-gutter-y: 20px; }
    .gy-md-30px { --bs-gutter-y: 30px; }
}

@include media-breakpoint-up(lg) {
    // width
    .w-lg-100 { width: 100% !important; }
    .w-lg-auto { width: auto !important; }
    .w-lg-40px { width: 40px !important; }
    .w-lg-60px { width: 60px !important; }
    .w-lg-80px { width: 80px !important; }
    .w-lg-100px { width: 100px !important; }

    // paddings
    .p-lg-10px { padding: 10px !important; }
    .p-lg-15px { padding: 15px !important; }
    .p-lg-20px { padding: 20px !important; }
    .p-lg-24px { padding: 24px !important; }
    .p-lg-30px { padding: 30px !important; }
    .p-lg-40px { padding: 40px !important; }
    .p-lg-60px { padding: 60px !important; }
    .p-lg-80px { padding: 80px !important; }
    .pt-lg-10px { padding-top: 10px !important; }
    .pt-lg-15px { padding-top: 15px !important; }
    .pt-lg-20px { padding-top: 20px !important; }
    .pt-lg-30px { padding-top: 30px !important; }
    .pb-lg-10px { padding-bottom: 10px !important; }
    .pb-lg-15px { padding-bottom: 15px !important; }
    .pb-lg-20px { padding-bottom: 20px !important; }
    .pb-lg-30px { padding-bottom: 30px !important; }

    // margins
    .mt-lg-10px { margin-top: 10px !important; }
    .mt-lg-15px { margin-top: 15px !important; }
    .mt-lg-20px { margin-top: 20px !important; }
    .mt-lg-30px { margin-top: 30px !important; }
    .mb-lg-10px { margin-bottom: 10px !important; }
    .mb-lg-15px { margin-bottom: 15px !important; }
    .mb-lg-20px { margin-bottom: 20px !important; }
    .mb-lg-30px { margin-bottom: 30px !important; }

    // gaps
    .gap-lg-10px { gap: 10px !important; }
    .gap-lg-15px { gap: 15px !important; }
    .gap-lg-20px { gap: 20px !important; }
    .gap-lg-30px { gap: 30px !important; }
    .gap-lg-40px { gap: 40px !important; }
    .gap-lg-60px { gap: 60px !important; }
    .row-gap-lg-10px { row-gap: 10px !important; }
    .row-gap-lg-15px { row-gap: 15px !important; }
    .row-gap-lg-20px { row-gap: 20px !important; }
    .row-gap-lg-30px { row-gap: 30px !important; }
    .row-gap-lg-40px { row-gap: 40px !important; }
    .row-gap-lg-60px { row-gap: 60px !important; }
    .column-gap-lg-10px { column-gap: 10px !important; }
    .column-gap-lg-15px { column-gap: 15px !important; }
    .column-gap-lg-20px { column-gap: 20px !important; }
    .column-gap-lg-30px { column-gap: 30px !important; }

    // gutters
    .gy-lg-10px { --bs-gutter-y: 10px; }
    .gy-lg-15px { --bs-gutter-y: 15px; }
    .gy-lg-20px { --bs-gutter-y: 20px; }
    .gy-lg-30px { --bs-gutter-y: 30px; }
}

@include media-breakpoint-up(xl) {
    // width
    .w-xl-100 { width: 100% !important; }
    .w-xl-auto { width: auto !important; }
    .w-xl-40px { width: 40px !important; }
    .w-xl-60px { width: 60px !important; }
    .w-xl-80px { width: 80px !important; }
    .w-xl-100px { width: 100px !important; }

    // paddings
    .p-xl-10px { padding: 10px !important; }
    .p-xl-15px { padding: 15px !important; }
    .p-xl-20px { padding: 20px !important; }
    .p-xl-24px { padding: 24px !important; }
    .p-xl-30px { padding: 30px !important; }
    .p-xl-40px { padding: 40px !important; }
    .p-xl-60px { padding: 60px !important; }
    .p-xl-80px { padding: 80px !important; }
    .pt-xl-10px { padding-top: 10px !important; }
    .pt-xl-15px { padding-top: 15px !important; }
    .pt-xl-20px { padding-top: 20px !important; }
    .pt-xl-30px { padding-top: 30px !important; }
    .pb-xl-10px { padding-bottom: 10px !important; }
    .pb-xl-15px { padding-bottom: 15px !important; }
    .pb-xl-20px { padding-bottom: 20px !important; }
    .pb-xl-30px { padding-bottom: 30px !important; }

    // margins
    .mt-xl-10px { margin-top: 10px !important; }
    .mt-xl-15px { margin-top: 15px !important; }
    .mt-xl-20px { margin-top: 20px !important; }
    .mt-xl-30px { margin-top: 30px !important; }
    .mb-xl-10px { margin-bottom: 10px !important; }
    .mb-xl-15px { margin-bottom: 15px !important; }
    .mb-xl-20px { margin-bottom: 20px !important; }
    .mb-xl-30px { margin-bottom: 30px !important; }

    // gaps
    .gap-xl-10px { gap: 10px !important; }
    .gap-xl-15px { gap: 15px !important; }
    .gap-xl-20px { gap: 20px !important; }
    .gap-xl-30px { gap: 30px !important; }
    .gap-xl-40px { gap: 40px !important; }
    .gap-xl-60px { gap: 60px !important; }
    .row-gap-xl-10px { row-gap: 10px !important; }
    .row-gap-xl-15px { row-gap: 15px !important; }
    .row-gap-xl-20px { row-gap: 20px !important; }
    .row-gap-xl-30px { row-gap: 30px !important; }
    .row-gap-xl-40px { row-gap: 40px !important; }
    .row-gap-xl-60px { row-gap: 60px !important; }
    .column-gap-xl-10px { column-gap: 10px !important; }
    .column-gap-xl-15px { column-gap: 15px !important; }
    .column-gap-xl-20px { column-gap: 20px !important; }
    .column-gap-xl-30px { column-gap: 30px !important; }

    // gutters
    .gy-xl-10px { --bs-gutter-y: 10px; }
    .gy-xl-15px { --bs-gutter-y: 15px; }
    .gy-xl-20px { --bs-gutter-y: 20px; }
    .gy-xl-30px { --bs-gutter-y: 30px; }
}

@include media-breakpoint-up(xxl) {
    // width
    .w-xxl-100 { width: 100% !important; }
    .w-xxl-auto { width: auto !important; }
    .w-xxl-40px { width: 40px !important; }
    .w-xxl-60px { width: 60px !important; }
    .w-xxl-80px { width: 80px !important; }
    .w-xxl-100px { width: 100px !important; }

    // paddings
    .p-xxl-10px { padding: 10px !important; }
    .p-xxl-15px { padding: 15px !important; }
    .p-xxl-20px { padding: 20px !important; }
    .p-xxl-24px { padding: 24px !important; }
    .p-xxl-30px { padding: 30px !important; }
    .p-xxl-40px { padding: 40px !important; }
    .p-xxl-60px { padding: 60px !important; }
    .p-xxl-80px { padding: 80px !important; }
    .pt-xxl-10px { padding-top: 10px !important; }
    .pt-xxl-15px { padding-top: 15px !important; }
    .pt-xxl-20px { padding-top: 20px !important; }
    .pt-xxl-30px { padding-top: 30px !important; }
    .pb-xxl-10px { padding-bottom: 10px !important; }
    .pb-xxl-15px { padding-bottom: 15px !important; }
    .pb-xxl-20px { padding-bottom: 20px !important; }
    .pb-xxl-30px { padding-bottom: 30px !important; }

    // margins
    .mt-xxl-10px { margin-top: 10px !important; }
    .mt-xxl-15px { margin-top: 15px !important; }
    .mt-xxl-20px { margin-top: 20px !important; }
    .mt-xxl-30px { margin-top: 30px !important; }
    .mb-xxl-10px { margin-bottom: 10px !important; }
    .mb-xxl-15px { margin-bottom: 15px !important; }
    .mb-xxl-20px { margin-bottom: 20px !important; }
    .mb-xxl-30px { margin-bottom: 30px !important; }

    // gaps
    .gap-xxl-10px { gap: 10px !important; }
    .gap-xxl-15px { gap: 15px !important; }
    .gap-xxl-20px { gap: 20px !important; }
    .gap-xxl-30px { gap: 30px !important; }
    .gap-xxl-40px { gap: 40px !important; }
    .gap-xxl-60px { gap: 60px !important; }
    .row-gap-xxl-10px { row-gap: 10px !important; }
    .row-gap-xxl-15px { row-gap: 15px !important; }
    .row-gap-xxl-20px { row-gap: 20px !important; }
    .row-gap-xxl-30px { row-gap: 30px !important; }
    .row-gap-xxl-40px { row-gap: 40px !important; }
    .row-gap-xxl-60px { row-gap: 60px !important; }
    .column-gap-xxl-10px { column-gap: 10px !important; }
    .column-gap-xxl-15px { column-gap: 15px !important; }
    .column-gap-xxl-20px { column-gap: 20px !important; }
    .column-gap-xxl-30px { column-gap: 30px !important; }

    // gutters
    .gy-xxl-10px { --bs-gutter-y: 10px; }
    .gy-xxl-15px { --bs-gutter-y: 15px; }
    .gy-xxl-20px { --bs-gutter-y: 20px; }
    .gy-xxl-30px { --bs-gutter-y: 30px; }
}