    <footer class="footer">
        <!-- main-bar -->
        <div class="footer__main-bar">
            <div class="container">

                <div class="d-flex flex-column flex-md-row justify-content-between gap-30px mb-30px mb-md-0px">
                    <!-- widget-logo -->
                    <div class="footer-widget footer-widget-logo">
                        <img src="img/logo/logo.svg" alt="Единая Реабилитационная Дистанционная Система мониторинга">
                    </div>
                    <!-- widget-contacts -->
                    <div class="footer-widget footer-widget-contacts">
                        <div>
                            <a href="tel:+79999999999" target="_blank">
                                <span>+7 999 999-99-99</span>
                            </a>
                        </div>
                        <div>
                            <a href="mailto:support@erds.ru" target="_blank">
                                <span>support@erds.ru</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column gap-20px mb-30px">
                    <!-- widget-text -->
                    <div class="footer-widget footer-widget-text max-w-370px max-w-xl-390px">
                        <p>Общество с&nbsp;ограниченной ответственностью «ЕРДС»</p>
                    </div>
                    <!-- widget-text -->
                    <div class="footer-widget footer-widget-text max-w-370px max-w-xl-1000px">
                        <!-- <p class="text-gray-70 mb-1">Юридический адрес:</p> -->
                        <div class="d-flex flex-wrap gap-20px column-gap-xl-40px column-gap-xxl-60px">
                            <!-- widget-text -->
                            <!-- <div class="footer-widget footer-widget-text">
                                <p>
                                    115093, Россия,&nbsp;г. Москва,<br>
                                    Вн.&nbsp;Тёр.&nbsp;Г.&nbsp;Муниципальный округ<br>
                                    Даниловский, Подольское шоссе,&nbsp;д.&nbsp;8
                                </p>
                            </div> -->
                            <!-- widget-text -->
                            <div class="footer-widget footer-widget-text">
                                <p>
                                    ИНН: 0000000000<br>
                                    КПП: 000000000<br>
                                    ОГРН: 1111111111111
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- widget-text -->
                <div class="footer-widget footer-widget-text">
                    <p>
                        <a href="#" class="footer-link">
                            <svg class="inline-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M3.33337 14.1665V15.8332C3.33337 16.2752 3.50897 16.6991 3.82153 17.0117C4.13409 17.3242 4.55801 17.4998 5.00004 17.4998H15C15.4421 17.4998 15.866 17.3242 16.1786 17.0117C16.4911 16.6991 16.6667 16.2752 16.6667 15.8332V14.1665" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.83337 9.1665L10 13.3332L14.1667 9.1665" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10 3.3335V13.3335" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            ПДН
                        </a>
                    </p>
                    <p>
                        <a href="#" class="footer-link">
                            <svg class="inline-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M3.33337 14.1665V15.8332C3.33337 16.2752 3.50897 16.6991 3.82153 17.0117C4.13409 17.3242 4.55801 17.4998 5.00004 17.4998H15C15.4421 17.4998 15.866 17.3242 16.1786 17.0117C16.4911 16.6991 16.6667 16.2752 16.6667 15.8332V14.1665" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.83337 9.1665L10 13.3332L14.1667 9.1665" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10 3.3335V13.3335" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Пользовательское соглашение
                        </a>
                    </p>
                </div>

            </div>
        </div>

        <!-- copyright-bar -->
        <div class="footer__copyright-bar">
            <div class="container">
                <!-- widget-text -->
                <div class="footer-widget footer-widget-text">
                    <p>Все права защищены. 2026</p>
                </div>
            </div>
        </div>

    </footer>

    <!-- modal-success -->
    <!-- include('../modals/success.html') -->

    <!-- scripts -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/fancybox.umd.js"></script>
    <script src="js/imask.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/main.js"></script>

</body>

</html>