<section class="section section-home-hero" id="homeHero">
    <div class="container-fluid no-gutters-x-down-md">
        <div class="position-relative overflow-hidden rounded-4 bg-primary-gradient p-24px p-lg-40px p-xl-60px p-xxl-80px">
            <!-- grid -->
            <div class="d-grid grid-cols-24 gap-0">

                <!-- col content -->
                <div class="col-span-24 col-span-sm-13">
                    <div class="position-relative h-100">
                        <h1 class="section-home-hero__title wow img-custom-anim-left" data-wow-duration="1.2s" data-wow-delay="0.1s">
                            Единая <span class="hero-badge">ЕРДС</span> Реабилитационная Дистанционная Система мониторинга
                        </h1>
                        <div class="section-home-hero__subtitle wow img-custom-anim-right" data-wow-duration="1.5s" data-wow-delay="0.1s">Цифровая система поддержки специалистов и&nbsp;сопровождения пациентов в&nbsp;процессе выполнения реабилитационных программ</div>
                        <div class="section-home-hero__btn-wrapper d-none d-md-block wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.3s">
                            <div class="wrapper-title">
                                <img class="shape-arrow" src="img/home/shape-arrow.svg" alt="">
                                <div class="h4 fw-800 mb-0">Для&nbsp;подключения к&nbsp;системе заполните форму ниже</div>
                            </div>
                            <div class="d-flex flex-wrap gap-3">
                                <a href="#" class="btn btn-primary btn-l">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- col image -->
                <div class="col-span-24 col-span-sm-11">
                    <div class="section-home-hero__img-spacer"></div>
                    <img class="section-home-hero__img wow fadeInUp" src="img/home/hero-img-01.png" alt="ЕРДС" data-wow-duration="1.2s" data-wow-delay="0.1s">
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-home-hero__btn-wrapper d-md-none">
            <div class="wrapper-title">
                <img class="shape-arrow" src="img/home/shape-arrow.svg" alt="">
                <div class="h4 fw-800 mb-0">Для&nbsp;подключения к&nbsp;системе заполните форму ниже</div>
            </div>
            <div class="d-flex flex-wrap gap-3">
                <a href="#" class="btn btn-primary btn-l">Подать заявку</a>
            </div>
        </div>
    </div>

</section>