<section class="section section-home-functions" id="homeFunctions">
    <div class="container">

        <!-- header -->
        <div class="section__header section-home-functions__header">
            <h2 class="section__title">Функциональные возможности</h2>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-24 row-gap-30px gap-lg-30px gap-xl-40px gap-xxl-60px">
            <!-- col (items) -->
            <div class="col-span-24 col-span-lg-9 col-span-xl-10">
                <div class="d-flex flex-column gap-20px gap-xl-40px gap-xxl-60px">
                    <!-- item -->
                    <div class="item-function">
                        <div class="h4 fw-800 mb-2">Контроль выполнения программы</div>
                        <div class="text-gray-70 mb-0">Выполнение пациентом упражнений по&nbsp;назначенной программе с&nbsp;автоматической фиксацией регулярности и&nbsp;соблюдения режима занятий</div>
                    </div>
                    <!-- item -->
                    <div class="item-function">
                        <div class="h4 fw-800 mb-2">Количественный анализ движений</div>
                        <div class="text-gray-70 mb-0">Автоматический подсчёт повторений и&nbsp;оценка параметров движения, включая анализ амплитуды в&nbsp;суставах</div>
                    </div>
                    <!-- item -->
                    <div class="item-function">
                        <div class="h4 fw-800 mb-2">Оценка техники выполнения</div>
                        <div class="text-gray-70 mb-0">Качественный анализ упражнений с&nbsp;предоставлением визуальной обратной связи пользователю</div>
                    </div>
                    <!-- item -->
                    <div class="item-function">
                        <div class="h4 fw-800 mb-2">Сбор субъективной обратной связи</div>
                        <div class="text-gray-70 mb-0">Получение данных о&nbsp;самочувствии пациента через&nbsp;встроенные опросы</div>
                    </div>
                </div>
            </div>
            <!-- col (img) -->
            <div class="col-span-24 col-span-lg-6 col-span-xl-4">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <img class="section-thumb-img" src="img/home/functions-thumb-01.png" alt="">
                </div>
            </div>
            <!-- col (items) -->
            <div class="col-span-24 col-span-lg-9 col-span-xl-10">
                <div class="d-flex flex-column gap-20px gap-xl-40px gap-xxl-60px">
                    <!-- item -->
                    <div class="item-function">
                        <div class="h4 fw-800 mb-2">Дистанционная коммуникация</div>
                        <div class="text-gray-70 mb-0">Встроенный чат&nbsp;для&nbsp;взаимодействия пациента со&nbsp;специалистом</div>
                    </div>
                    <!-- item -->
                    <div class="item-function">
                        <div class="h4 fw-800 mb-2">Аналитика и&nbsp;визуализация прогресса</div>
                        <div class="text-gray-70 mb-0">Формирование статистики и&nbsp;наглядных графиков динамики показателей пациента во&nbsp;времени</div>
                    </div>
                    <!-- item -->
                    <div class="item-function">
                        <div class="h4 fw-800 mb-2">Скрининговая диагностика</div>
                        <div class="text-gray-70 mb-0">Проведение тестов для&nbsp;оценки готовности к&nbsp;переходу на&nbsp;следующий этап реабилитации</div>
                    </div>
                    <!-- item -->
                    <div class="item-function">
                        <div class="h4 fw-800 mb-2">Кабинет специалиста и&nbsp;хранение данных</div>
                        <div class="text-gray-70 mb-0">Веб-интерфейс для&nbsp;мониторинга выполнения программы, анализа динамики, корректировки плана реабилитации и&nbsp;хранения данных пациента</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>