<section class="section section-home-structure" id="homeStructure">
    <div class="container">

        <!-- header -->
        <div class="section__header section-home-structure__header">
            <h2 class="section__title">Структура программного комплекса</h2>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-6 row-gap-20px row-gap-md-20px gap-md-40px row-gap-xl-40px gap-xl-60px row-gap-xxl-60px">
            <!-- item -->
            <div class="d-flex flex-column col-span-6 col-span-md-3 col-span-xl-2">
                <div class="mb-15px mb-xxl-20px">
                    <img class="img-fluid w-60px w-xl-80px w-xxl-100px flex-shrink-0" src="img/home/android.svg" alt="android">
                </div>
                <div>Мобильное приложение (Android) — предназначено для&nbsp;выполнения пациентом назначенной программы и&nbsp;передачи данных в&nbsp;систему</div>
            </div>
            <!-- item -->
            <div class="d-flex flex-column col-span-6 col-span-md-3 col-span-xl-2">
                <div class="mb-15px mb-xxl-20px">
                    <img class="img-fluid w-60px w-xl-80px w-xxl-100px flex-shrink-0" src="img/home/laravel.svg" alt="laravel">
                </div>
                <div>Серверная часть (Laravel) — обеспечивает хранение данных, обработку информации и&nbsp;взаимодействие компонентов системы через&nbsp;API</div>
            </div>
            <!-- item -->
            <div class="d-flex flex-column col-span-6 col-span-md-3 col-span-xl-2">
                <div class="mb-15px mb-xxl-20px">
                    <img class="img-fluid w-60px w-xl-80px w-xxl-100px flex-shrink-0" src="img/home/web-ui.svg" alt="web-ui">
                </div>
                <div>Веб-интерфейс&nbsp;— включает личный кабинет врача и&nbsp;административную панель для&nbsp;управления программами и&nbsp;пользователями</div>
            </div>
            <!-- item -->
            <div class="d-flex flex-column col-span-6 col-span-md-3 col-span-xl-2">
                <div class="mb-15px mb-xxl-20px">
                    <img class="img-fluid w-60px w-xl-80px w-xxl-100px flex-shrink-0" src="img/home/video.svg" alt="video">
                </div>
                <div>Обработка видеопотока производится на&nbsp;устройстве пользователя</div>
            </div>
            <!-- item -->
            <div class="d-flex flex-column col-span-6 col-span-md-3 col-span-xl-2">
                <div class="mb-15px mb-xxl-20px">
                    <img class="img-fluid w-60px w-xl-80px w-xxl-100px flex-shrink-0" src="img/home/server.svg" alt="server">
                </div>
                <div>Хранение данных осуществляется на&nbsp;серверах, размещённых на&nbsp;территории Российской Федерации</div>
            </div>
        </div>

    </div>
</section>