<section class="section section-home-how-works">
    <!-- section-anchor -->
    <div class="section-anchor" id="homeHowWorks"></div>
    <!-- container -->
    <div class="container">

        <!-- section-header -->
        <div class="section__header section-home-how-works__header">
            <h2 class="section__title">Принцип работы системы</h2>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-24 row-gap-10px gap-md-10px gap-xl-20px">
            <!-- item -->
            <div class="d-flex flex-column bg-primary-20 rounded p-20px col-span-24 col-span-md-12 col-span-xl-6">
                <div class="flex-fill">
                    <div>Специалист формирует и&nbsp;назначает пациенту индивидуальную программу упражнений через&nbsp;веб-интерфейс</div>
                </div>
                <div class="h1 fw-800 lh-1 text-primary-40 mt-20px mt-xl-40px mb-0">1</div>
            </div>
            <!-- item -->
            <div class="d-flex flex-column bg-primary-20 rounded p-20px col-span-24 col-span-md-12 col-span-xl-6">
                <div class="flex-fill">
                    <div>Пациент получает программу в&nbsp;мобильном приложении и&nbsp;выполняет упражнения в&nbsp;соответствии с&nbsp;назначением</div>
                </div>
                <div class="h1 fw-800 lh-1 text-primary-40 mt-20px mt-xl-40px mb-0">2</div>
            </div>
            <!-- item -->
            <div class="d-flex flex-column bg-primary-20 rounded p-20px col-span-24 col-span-md-12 col-span-xl-6">
                <div class="flex-fill">
                    <div>Во&nbsp;время выполнения фиксируются данные о&nbsp;регулярности, повторениях, параметрах движения, результатах скрининговых тестов и&nbsp;ответах на&nbsp;опросы</div>
                </div>
                <div class="h1 fw-800 lh-1 text-primary-40 mt-20px mt-xl-40px mb-0">3</div>
            </div>
            <!-- item -->
            <div class="d-none d-xl-flex align-items-center justify-content-center col-span-24 col-span-md-12 col-span-xl-6">
                <img class="img-fluid w-80px w-xxl-100px flex-shrink-0" src="img/home/howWorksIcon-1.svg" alt="">
            </div>
            <!-- item -->
            <div class="d-none d-xl-flex align-items-center justify-content-center col-span-24 col-span-md-12 col-span-xl-6">
                <img class="img-fluid w-80px w-xxl-100px flex-shrink-0" src="img/home/howWorksIcon-2.svg" alt="">
            </div>
            <!-- item -->
            <div class="d-flex flex-column bg-primary-20 rounded p-20px col-span-24 col-span-md-12 col-span-xl-6">
                <div class="flex-fill">
                    <div>Данные автоматически сохраняются и&nbsp;формируют динамику выполнения программы во&nbsp;времени</div>
                </div>
                <div class="h1 fw-800 lh-1 text-primary-40 mt-20px mt-xl-40px mb-0">4</div>
            </div>
            <!-- item -->
            <div class="d-flex flex-column bg-primary-20 rounded p-20px col-span-24 col-span-md-12 col-span-xl-6">
                <div class="flex-fill">
                    <div>Специалист через&nbsp;веб-интерфейс отслеживает выполнение, анализирует динамику и&nbsp;при&nbsp;необходимости корректирует программу</div>
                </div>
                <div class="h1 fw-800 lh-1 text-primary-40 mt-20px mt-xl-40px mb-0">5</div>
            </div>
            <!-- item -->
            <div class="d-flex flex-column bg-primary-20 rounded p-20px col-span-24 col-span-md-12 col-span-xl-6">
                <div class="flex-fill">
                    <div>Между&nbsp;очными визитами осуществляется дистанционная коммуникация пациента со&nbsp;специалистом</div>
                </div>
                <div class="h1 fw-800 lh-1 text-primary-40 mt-20px mt-xl-40px mb-0">6</div>
            </div>
            <!-- item -->
            <div class="d-flex flex-column bg-primary-20 rounded p-20px col-span-24 col-span-md-24 col-span-xl-12 col-start-xl-13">
                <div class="flex-fill">
                    <div class="h4 fw-800 mb-0">ЕРДС&nbsp;— объединяет специалиста и&nbsp;пациента в&nbsp;едином информационном контуре</div>
                </div>
            </div>
        </div>

    </div>
</section>