<section class="section section-home-categories" id="homeCategories">
    <div class="container">

        <!-- header -->
        <div class="section__header section-home-categories__header">
            <h2 class="section__title">Область применения</h2>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-24 row-gap-30px gap-lg-30px gap-xl-20px">
            <!-- col -->
            <div class="col-span-24 col-span-lg-15">
                <!-- grid -->
                <div class="d-grid grid-cols-24 row-gap-10px gap-lg-10px gap-xl-20px">
                    <!-- card -->
                    <div class="card card-category col-span-24 col-span-lg-12 col-span-xl-7">
                        <div class="card-body">
                            <div class="d-flex flex-column h-100">
                                <div class="card-heading flex-fill">
                                    <div class="card-title h4 fw-800">Медицинская реабилитация</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="card card-category col-span-24 col-span-lg-12 col-span-xl-10">
                        <div class="card-body">
                            <div class="d-flex flex-column h-100">
                                <div class="card-heading flex-fill">
                                    <div class="card-title h4 fw-800">Лечебная физическая культура</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="card card-category col-span-24 col-span-lg-12 col-span-xl-7">
                        <div class="card-body">
                            <div class="d-flex flex-column h-100">
                                <div class="card-heading flex-fill">
                                    <div class="card-title h4 fw-800">Спортивная медицина</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="card card-category col-span-24 col-span-lg-12 col-span-xl-12">
                        <div class="card-body">
                            <div class="d-flex flex-column h-100">
                                <div class="card-heading flex-fill">
                                    <div class="card-title h4 fw-800">Восстановительные программы</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="card card-category col-span-24 col-span-lg-24 col-span-xl-12">
                        <div class="card-body">
                            <div class="d-flex flex-column h-100">
                                <div class="card-heading flex-fill">
                                    <div class="card-title h4 fw-800">Контроль техники выполнения упражнений</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <rect width="10" height="10" rx="5" fill="#7AB656"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col -->
            <div class="col-span-24 col-span-lg-9">
                <div class="d-flex align-items-end gap-20px gap-xl-40px">
                    <img class="section-thumb-img" src="img/home/categories-thumb-01.png" alt="">
                    <div class="text-gray-70">
                        <img class="img-fluid w-60px w-xl-80px mb-10px" src="img/home/categoriesIcon.svg" alt="">
                        <p class="mb-0">ЕРДС&nbsp;— прикладной программный комплекс, предназначенный для&nbsp;анализа техники выполнения физических упражнений и&nbsp;цифрового сопровождения программ восстановления</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>